    <div class="home-concept">
          <div class="container">

            <div class="row center">
              <span class="sun"></span>
              <span class="cloud"></span>
              <div class="col-md-2 col-md-offset-1">
                <div class="process-image" data-appear-animation="bounceIn">
                  <img src="img/home-concept-item-1.png" alt="" />
                  <strong>Strategy</strong>
                </div>
              </div>
              <div class="col-md-2">
                <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                  <img src="img/home-concept-item-2.png" alt="" />
                  <strong>Planning</strong>
                </div>
              </div>
              <div class="col-md-2">
                <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                  <img src="img/home-concept-item-3.png" alt="" />
                  <strong>Build</strong>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <div class="project-image">
                  <div id="fcSlideshow" class="fc-slideshow">
                    <ul class="fc-slides">
                      <li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-1.jpg" /></a></li>
                      <li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-2.jpg" /></a></li>
                      <li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-3.jpg" /></a></li>
                    </ul>
                  </div>
                  <strong class="our-work">Our Work</strong>
                </div>
              </div>
            </div>

          </div>
        </div>
