<div class="row push-top">
  <div class="col-md-4 push-top">
    <img class="img-responsive" src="img/layout-styles.png" alt="layout styles" data-appear-animation="fadeInLeft">
  </div>
  <div class="col-md-7 col-md-offset-1">
    <h2 class="push-top"><strong>Layout</strong> Styles &amp; Variants</h2>
    <p class="lead">
      There are so many styles you can combine that is possible to create almost any kind of layout based on Porto Template, navigate in our preview and see the header variations, the colors, and the page content types that you will be able to use.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.
    </p>
  </div>
</div>