
              </h2>
    <h4 class="heading-primary lead tall">5,500 customers in 100 countries use Porto Template. Meet our customers.</h4>
  </div>
</div>

<div class="row center">
  <div class="owl-carousel" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
    <div>
      <img class="img-responsive" src="img/logos/logo-1.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-2.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-3.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-4.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-5.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-6.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-4.png" alt="">
    </div>
    <div>
      <img class="img-responsive" src="img/logos/logo-2.png" alt="">
    </div>
  </div>
</div>
