<div class="container">

          <div class="row">
            <div class="col-md-12 center">
              <h2 class="word-rotator-title mb-sm">Porto is the <strong>most <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                <span class="word-rotate-items">
                  <span>popular</span>
                  <span>awesome</span>
                  <span>incredible</span>
                </span>
              </span></strong> HTML Site template on ThemeForest.</h2>
            </div>
          </div>




        </div>
