<div class="container">

  <div class="row center">
    <div class="col-md-12">
      <h1 class="short word-rotator-title">
        Porto is
        <strong class="inverted" data-appear-animation="bounceIn">
          <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
            <span class="word-rotate-items">
              <span>incredibly</span>
              <span>especially</span>
              <span>extremely</span>
            </span>
          </span>
        </strong>
         beautiful and fully responsive.</h1>
      <p class="featured lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
      </p>
    </div>
  </div>
